<strong>Olá, {{ organizer }}</strong>
<p>Você tem um novo inscrito no seu meetup
  <strong>{{ meetup }}</strong> que acontecerá <strong>{{ date }}</strong>.
</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>